//====================================================================================================

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	// .header__wrapper
	&__wrapper {
		z-index: 5;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		&::before {
			z-index: 10;
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			.light & {
				background-color: #f3f3f3;
			}
			.dark & {
				background-color: #000;
			}
		}
		&::after{
			content: "";
			position: absolute;
			width: 100%;
			height: 0;
			bottom: 0;
			left: 0;
			z-index: 100;
			border-bottom: 1px solid $secoundColor;
		}
	}

	// .header__container
	&__container {
	}

	// .header__body
	&__body {
		padding: 5px 0;
		position: relative;
		z-index: 10;
		display: flex;
		gap: rem(10);
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("min-height", 60, 42);
	}

	// .header__logo
	&__logo {
		z-index: 20;
		@include adaptiveValue("font-size", 43, 25);
		font-size: rem(43);
		font-weight: 300;
		line-height: 1.1;
		transition: color .3s;
		@media (any-hover: hover){
			&:hover{
				color: $secoundColor;
			}
		}
		@include adaptiveValue("margin-right", 20, 10);
	}

	// .header__menu
	&__menu {
	}

	// .header__theme
	&__theme {
		z-index: 20;
		@include adaptiveValue("margin-left", 20, 10);
		@media (max-width: $mobile) {
			margin: 0 rem(20) 0 0;
		}
	}

	// .header__icon
	&__icon {
		z-index: 20;
	}
}

.menu {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	justify-content: end;

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			right: -100%;
			width: 100%;
			height: 100%;
			padding: rem(80) 15px 0;
			top: 0;
			overflow: auto;
			transition: right 0.3s ease-in-out;
			.light & {
				background-color: #f3f3f3;
			}
			.dark & {
				background-color: #000;
			}
			.menu-open & {
				right: 0;
				&::before{
					right: 0;
				}
			}
			&::before {
				z-index: 10;
				content: "";
				position: fixed;
				width: 100%;
				@include adaptiveValue("height", 60, 42);
				top: 0;
				right: -100%;
				transition: right 0.3s ease-in-out;
				.light & {
					background-color: #f3f3f3;
				}
				.dark & {
					background-color: #000;
				}
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		row-gap: rem(10);
		@include adaptiveValue("column-gap", 50, 20);
		@media (max-width: $mobile) {
			display: block;
		}
	}

	// .menu__item
	&__item {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 0%;
			height: rem(2);
			bottom: -10%;
			left: 0;
			transition: all 0.3s ease-in;

			.dark & {
				background: $lightColor;
			}
			.light & {
				background: $darkColor;
			}
		}
		@media (hover: hover) {
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}
		@media (max-width:$mobile){
			&:not(:last-child) {
				margin-bottom: rem(15);
			}
		}
	}

	// .menu__link
	&__link {
		display: block;
		text-align: right;
		font-weight: 400;
		font-size: rem(22);
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 60, 32);
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			.light & {
				background-color: #000;
			}
			.dark & {
				background-color: #f3f3f3;
			}
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
