//====================================================================================================

.page {
	padding-bottom: 500px;
	@include adaptiveValue("padding-top", 79, 60);

	// .page__title
	&__title {
		@include adaptiveValue("padding-top", 50, 30);
	}

	// .page__about
	&__about {
	}

	// .page__working
	&__working {
	}

	// .page__works
	&__works {
	}

	&__vision {
	}
	&__how {
	}
	// .page__impact
	&__impact {
	}
	// .page__story
	&__story {
	}
	// .page__work-with
	&__work-with {
	}
}

//========================================================================================================================================================

.title {
	&__container {
	}

	// .title__heading
	&__heading {
		display: block;
		@include adaptiveValue("font-size", 363, 82);
	}
}

//====================================================================================================

.about {
	@include adaptiveValue("padding-top", 200, 60);
	// .about__container

	&__container {
	}

	// .about__body

	&__body {
		display: grid;
		grid-template-columns: rem(240) rem(145) 1fr;

		@media (max-width: $tablet) {
			display: block;

			& > *:not(:last-child) {
				margin-bottom: rem(34);
			}
		}

		@media (min-width: $tablet) {
			@include adaptiveValue("column-gap", 100, 20);
			@include adaptiveValue("row-gap", 40, 10);
		}
	}

	// .about__location

	&__location {
		font-style: inherit;

		@media (max-width: $mobile) {
			font-size: rem(18);
		}
	}

	// .about__time

	&__time {
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
	}

	// .about__text

	&__text {
		@media (max-width: $tablet) {
			grid-column: span 2;
		}

		@include adaptiveValue("font-size", 43, 20);
		line-height: 1.37;
	}
}

//========================================================================================================================================================

.working {
	@include adaptiveValue("margin-top", 250, 50);
	padding-top: rem(35);
	border-top: rem(1) solid $secoundColor;

	// .working__container
	&__container {
	}

	// .working__body
	&__body {
		display: block;

		@media (min-width: $tablet) {
			display: flex;
			justify-content: space-between;
			column-gap: rem(20);
		}
	}

	// .working__text
	&__text {
		margin-bottom: rem(30);

		@media (min-width: $tablet) {
			flex: 0 0 rem(240);
			margin: 0;
		}

		color: #8a8474;
		font-weight: 400;
		line-height: 1.2;
	}

	// .working__list
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media (min-width: $mobileSmall) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		gap: rem(14) rem(20);
	}

	// .working__item
	&__item {
	}

	// .working__link
	&__link {
		transition: color 0.3s;
		line-height: 1.2;
		&:hover {
			color: $secoundColor;
		}
	}
}

//========================================================================================================================================================

.works {
	@include adaptiveValue("margin-top", 180, 80);
	@include adaptiveValue("padding-top", 40, 0);

	@media (min-width: em(580)) {
		padding-top: rem(40);
		border-top: rem(1) solid $secoundColor;
	}

	// .works__container
	&__container {
	}

	// .works__slider
	&__slider {
	}

	// .works__wrapper
	&__wrapper {
	}

	// .works__slide
	&__slide {
	}

	// .works__link
	&__link {
		display: inline-block;
		line-height: 1.2;
		margin-bottom: rem(19);
		position: relative;
		transition: color 0.3s;
		&::after {
			content: "↗";
			display: inline-block;
			padding-left: rem(12);
			transition: transform 0.5s;
		}
		&:hover {
			color: $secoundColor;
			&::after {
				transform: rotateZ(45deg) translateY(-35%);
			}
		}
	}

	// .works__image-ibg
	&__image-ibg {
		border-radius: rem(20);
		display: block;
		padding-bottom: 86%;
		overflow: hidden;
		& img {
			transition: transform 0.5s;
		}
		@media (any-hover: hover) {
			&:hover img {
				transform: scale(1.1);
			}
		}
	}
}

//========================================================================================================================================================

.vision {
	@include adaptiveValue("margin-top", 180, 80);

	@media (min-width: em(580)) {
		padding-top: rem(80);
		border-top: rem(1) solid $secoundColor;
	}
	// .vision__container
	&__container {
	}
	// .vision__btn
	&__btn {
		margin-bottom: rem(21);
	}
	// .vision__text
	&__text {
		line-height: 1.5;
		@include adaptiveValue("font-size", 41, 26);
	}
	// .vision__info
	&__info {
		display: grid;
		@include adaptiveValue("margin-top", 120, 70);
		@include adaptiveValue("gap", 30, 10);
		align-items: self-start;
		justify-items: center;
		grid-template-columns: 1fr 1fr;
		@media (min-width: $tablet) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .vision__item
	&__item {
		text-align: center;
	}
	// .vision__number
	&__number {
		font-weight: 400;
		@include adaptiveValue("font-size", 150, 70);
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
		> span {
			vertical-align: top;
			font-weight: 400;
			@include adaptiveValue("font-size", 48, 28);
		}
	}
	// .vision__data
	&__data {
		line-height: 1.3;
	}
}

//========================================================================================================================================================

.how {
	@include adaptiveValue("margin-top", 390, 70);
	padding-top: rem(35);
	border-top: rem(1) solid $secoundColor;

	// .how__container
	&__container {
	}
	// .how__wrapper
	&__wrapper {
		display: grid;
		align-items: self-start;
		grid-template-columns: 1fr;
		gap: rem(15);
		@media (min-width: $tablet) {
			grid-template-columns: rem(80) 1fr rem(170);
		}
	}
	// .how__heading
	&__heading {
		font-weight: 400;
		color: $secoundColor;
		line-height: 1.2;
	}
	// .how__brands
	&__brands {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		gap: rem(8) rem(15);
	}
	// .how__item
	&__item {
		@media (max-width: $tablet) {
			flex: 1 0 100%;
		}
	}
	// .how__brand
	&__brand {
		line-height: 1.3;
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $secoundColor;
			}
		}
	}
	// .how__link
	&__link {
		justify-self: self-start;
		@media (max-width: $mobileSmall) {
			justify-self: stretch;
			text-align: center;
		}
	}
}

//========================================================================================================================================================

.impact {
	@include adaptiveValue("margin-top", 240, 80);

	@media (min-width: em(580)) {
		padding-top: rem(50);
		border-top: rem(1) solid $secoundColor;
		padding-bottom: rem(50);
		border-bottom: rem(1) solid $secoundColor;
	}
	// .impact__container
	&__container {
	}
	// .impact__header
	&__header {
		display: grid;
		gap: rem(10);
		grid-template-columns: 1fr;
		margin-bottom: rem(30);
		@media (min-width: $tablet) {
			gap: rem(35);
			margin-bottom: rem(80);
			grid-template-columns: rem(160) 1fr 49%;
		}
		@media (min-width: $mobileSmall) {
			margin-bottom: rem(45);
		}
	}
	// .impact__label
	&__label {
		justify-self: self-start;
		align-self: self-start;
		@media (max-width: $tablet) {
			margin-bottom: rem(20);
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: 0;
		}
	}
	// .impact__heading
	&__heading {
		@include adaptiveValue("font-size", 45, 38);
		line-height: 1.35;
	}
	// .impact__text
	&__text {
		@include adaptiveValue("font-size", 34, 18);
		line-height: 1.4;
	}
	// .impact__list
	&__list {
	}
	// .impact__item
	&__item {
		display: grid;
		gap: rem(10);
		grid-template-columns: 1fr;
		@media (min-width: $tablet) {
			gap: rem(35);
			grid-template-columns: rem(160) repeat(2, 1fr) 49%;
		}
		&:not(:last-child) {
			margin-bottom: rem(40);
			@media (min-width: $tablet) {
				margin-bottom: rem(80);
			}
		}
	}
	// .impact__name
	&__name {
	}
	// .impact__place
	&__place {
	}
	// .impact__position
	&__position {
	}
	// .impact__info
	&__info {
		font-size: rem(17);
		@media (min-width: $mobileSmall) {
			font-size: rem(20);
		}
	}
}

//========================================================================================================================================================

.story {
	margin-top: rem(80);
	padding-top: rem(40);
	@media (min-width: $tablet) {
		margin-top: rem(220);
	}
	@media (min-width: em(580)) {
		border-top: rem(1) solid $secoundColor;
	}
	@media (min-width: $mobile) {
		margin-top: rem(180);
	}
	@media (min-width: $mobileSmall) {
		margin-top: rem(120);
	}
	// .story__container
	&__container {
	}
	// .story__body
	&__body {
		@media (max-width: $mobile) {
			& > *:not(:last-child) {
				margin-bottom: rem(31);
			}
		}
	}
	// .story__link
	&__link {
		@media (min-width: $mobile) {
			margin-bottom: rem(21);
		}
	}
	// .story__title
	&__title {
		@include adaptiveValue("font-size", 114, 32);
		@media (min-width: $mobile) {
			margin-bottom: rem(80);
		}
	}
	// .story__slider
	&__slider {
		height: rem(268);
		@media (min-width: $mobileSmall) {
			height: rem(368);
		}
		@media (min-width: $tablet) {
			height: rem(468);
		}
	}
	// .story__wrapper
	&__wrapper {
	}
	// .story__slide
	&__slide {
	}
	// .story__image
	&__image {
		position: relative;
		height: 100%;
		border-radius: rem(20);
		display: block;
		overflow: hidden;
		img {
			transition: transform 0.5s;
			min-height: 100%;
			max-height: 100%;
			object-fit: cover;
		}
		@media (any-hover: hover) {
			&:hover img {
				transform: scale(1.1);
			}
		}
	}
	// .story__footer
	&__footer {
		display: block;
		margin-top: rem(50);
		@media (min-width: em(680)) {
			gap: rem(20);
			display: flex;
		}
		@media (min-width: em(580)) {
			margin-top: rem(80);
			padding-top: rem(40);
			border-top: rem(1) solid $secoundColor;
		}
	}
	// .story__goal
	&__goal {
		@include adaptiveValue("font-size", 40, 20);
		flex: 0 0 40%;
		line-height: 1.3;
		@media (max-width: em(680)) {
			margin-bottom: rem(17);
		}
	}
	// .story__text
	&__text {
		@include adaptiveValue("font-size", 35, 13);
		line-height: 1.2;
	}
}

//========================================================================================================================================================

.work-with {
	@include adaptiveValue("margin-top", 270, 80);

	@media (min-width: em(580)) {
		padding-top: rem(40);
		border-top: rem(1) solid $secoundColor;
		@include adaptiveValue("padding-bottom", 200, 50);
		border-bottom: rem(1) solid $secoundColor;
	}
	// .work-with__container
	&__container {
	}
	// .work-with__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(30);
		@media (min-width:$tablet){
			grid-template-columns: 1fr 1fr 1fr rem(200);
		}
	}
	// .work-with__title
	&__title {
		font-size: rem(47);
	}
	// .work-with__text
	&__text {
	}
	// .work-with__contact
	&__contact {
		a:hover {
			text-decoration: underline;
			color: $secoundColor;
		}
	}
	// .work-with__link
	&__link {
		justify-self: start;
		align-self: start;
	}
}

//========================================================================================================================================================
